# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-detectable=false
*.js linguist-detectable=false
*.sch linguist-detectable=false
*.ps1 linguist-detectable=false
*.psd1 linguist-detectable=false
*.psm1 linguist-detectable=false